section.Aparthotel 
    .container 
        .Aparthotel-title Aparthotels
        .Aparthotel-items
            .Aparthotel-content 
                .Aparthotel-score 7.6 
                    label good
                .Aparthotel-content-image 
                    img(src="https://media.istockphoto.com/photos/render-luxury-hotel-room-picture-id914049856?k=20&m=914049856&s=170667a&w=0&h=2YCNQVD89mUan_3pN1Q46lwQ4rHRglFD1v9J7x6ozZ8=", alt="")
                .Aparthotel-content-title Mood of Galata Suites
                .Aparthotel-content-location 
                    .Aparthotel-content-location-icon
                        i.fas.fa-map-marker-alt
                    .Aparthotel-content-location-info   Istanbul, Turkey
                    .Aparthotel-content-location-review 203 reviews        
                .Aparthotel-content-info    Offering a terrace, Mood of Galata Suites is located in Istanbul, 300 metres from Galata Tower...
            .Aparthotel-content 
                .Aparthotel-score 8.9
                    label Fabulous
                .Aparthotel-content-image 
                    img(src="https://media.istockphoto.com/photos/render-luxury-hotel-room-picture-id914049856?k=20&m=914049856&s=170667a&w=0&h=2YCNQVD89mUan_3pN1Q46lwQ4rHRglFD1v9J7x6ozZ8=", alt="")
                .Aparthotel-content-title A Palace Suites
                .Aparthotel-content-location 
                    .Aparthotel-content-location-icon
                        i.fas.fa-map-marker-alt
                    .Aparthotel-content-location-info   Istanbul, Turkey
                    .Aparthotel-content-location-review 443 reviews        
                .Aparthotel-content-info    Featuring free WiFi and air conditioning, A Place Suites is localted in Istanbul...
            .Aparthotel-content 
                .Aparthotel-score 9.6 
                    label Exeptional
                .Aparthotel-content-image 
                    img(src="https://media.istockphoto.com/photos/render-luxury-hotel-room-picture-id914049856?k=20&m=914049856&s=170667a&w=0&h=2YCNQVD89mUan_3pN1Q46lwQ4rHRglFD1v9J7x6ozZ8=", alt="")
                .Aparthotel-content-title Witt Istanbul Suites
                .Aparthotel-content-location 
                    .Aparthotel-content-location-icon
                        i.fas.fa-map-marker-alt
                    .Aparthotel-content-location-info   Istanbul, Turkey
                    .Aparthotel-content-location-review 232 reviews        
                .Aparthotel-content-info    Situated in the Cihangir, district, Witt Istanbul Suites offers luxurious rooms and an peaceful terrace...
            .Aparthotel-content 
                .Aparthotel-score 8.6 
                    label Fabulous
                .Aparthotel-content-image 
                    img(src="https://media.istockphoto.com/photos/render-luxury-hotel-room-picture-id914049856?k=20&m=914049856&s=170667a&w=0&h=2YCNQVD89mUan_3pN1Q46lwQ4rHRglFD1v9J7x6ozZ8=", alt="")
                .Aparthotel-content-title Maslak Istanbul
                .Aparthotel-content-location 
                    .Aparthotel-content-location-icon
                        i.fas.fa-map-marker-alt
                    .Aparthotel-content-location-info   Istanbul, Turkey
                    .Aparthotel-content-location-review 4.563 reviews        
                .Aparthotel-content-info    Offering a terrace, Mood of Galata Suites is located in Istanbul, 300 metres from Galata Tower...
        .Aparthotel-all-button 
            button.button.button-navy All aparthotels 
                i.fas.fa-chevron-right