section.Destination
    .container 
        .Destination-title More destinations
        .Destination-items
            .Destination-item
                .Destination-item-image
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7vXJJasMnDacnEAbINvfK-OvQS2H6a9eu705jpTuzRpFX_grMMFvbPiGdneuuA9xbgD0&usqp=CAU", alt="")
                .Destination-item-content
                    .Destination-item-info
                        .Destination-item-info-title Playa d'en Bossa
                        .Destination-item-info-location 
                            i.fas.fa-map-marker-alt
                            label Spain 
                            .location-features 
                                .location-top Top
                        .Destination-item-info-features 24 apartments, 10 aparthotels, 2 villas
                    .Destination-item-button
                        button
                            i.fas.fa-chevron-right
            .Destination-item
                .Destination-item-image
                    img(src="https://productimages.hepsiburada.net/s/49/500/10985278767154.jpg", alt="")
                .Destination-item-content
                    .Destination-item-info
                        .Destination-item-info-title Santa Eularia des Riu
                        .Destination-item-info-location 
                            i.fas.fa-map-marker-alt
                            label Spain 
                            .location-features 
                                .location-flight 
                                    i.fas.fa-plane
                        .Destination-item-info-features 21 apartments, 5 aparthotels, 37 villas, 6 guest houses
                    .Destination-item-button
                        button
                            i.fas.fa-chevron-right 
            .Destination-item
                .Destination-item-image
                    img(src="https://www.realproinvest.com/sites/default/files/styles/large/public/property//-636521190.jpg?itok=0N1piW-w", alt="")
                .Destination-item-content
                    .Destination-item-info
                        .Destination-item-info-title Istanbul
                        .Destination-item-info-location 
                            i.fas.fa-map-marker-alt
                            label Turkey
                            .location-features 
                                .location-top Top
                                .location-flight 
                                    i.fas.fa-plane
                        .Destination-item-info-features 476 apartments, 243 aparthotels, 54 hostels
                    .Destination-item-button
                        button
                            i.fas.fa-chevron-right 
            .Destination-item
                .Destination-item-image
                    img(src="https://media-cdn.tripadvisor.com/media/photo-s/00/1c/22/0f/vienna-shopping-district.jpg", alt="")
                .Destination-item-content
                    .Destination-item-info
                        .Destination-item-info-title Vienna
                        .Destination-item-info-location 
                            i.fas.fa-map-marker-alt
                            label Austria
                            .location-features 
                                .location-top Top
                                .location-flight 
                                    i.fas.fa-plane
                        .Destination-item-info-features 1171 apartments, 38 aparthotels, 54 hostels, 44 guest houses
                    .Destination-item-button
                        button
                            i.fas.fa-chevron-right 
            .Destination-item
                .Destination-item-image
                    img(src="https://www.realproinvest.com/sites/default/files/styles/large/public/property//-636521190.jpg?itok=0N1piW-w", alt="")
                .Destination-item-content
                    .Destination-item-info
                        .Destination-item-info-title Istanbul
                        .Destination-item-info-location 
                            i.fas.fa-map-marker-alt
                            label Turkey
                            .location-features 
                                .location-top Top
                                .location-flight 
                                    i.fas.fa-plane
                        .Destination-item-info-features 476 apartments, 243 aparthotels, 54 hostels
                    .Destination-item-button
                        button
                            i.fas.fa-chevron-right 
            .Destination-item
                .Destination-item-image
                    img(src="https://www.realproinvest.com/sites/default/files/styles/large/public/property//-636521190.jpg?itok=0N1piW-w", alt="")
                .Destination-item-content
                    .Destination-item-info
                        .Destination-item-info-title Istanbul
                        .Destination-item-info-location 
                            i.fas.fa-map-marker-alt
                            label Turkey
                            .location-features 
                                .location-top Top
                                .location-flight 
                                    i.fas.fa-plane
                        .Destination-item-info-features 476 apartments, 243 aparthotels, 54 hostels
                    .Destination-item-button
                        button
                            i.fas.fa-chevron-right 
        .Destination-all-button
            button.button.button-blue Show me all destinations
                i.fas.fa-chevron-right
                
                    