section.Highlights
    .container
        .Highlights-slider
            .Highlights-slider-item 
                .show(style="background-image:url(https://images.unsplash.com/photo-1568084680786-a84f91d1153c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80);")
                .info
            .Highlights-slider-item 2
            .Highlights-slider-item 3
            .Highlights-slider-item 4
            .Highlights-slider-item 5
            