section.Highlights
    .container
        .Highlights-slider
            .Highlights-slider-item 
                .show(style="background-image:url(https://images.unsplash.com/photo-1568084680786-a84f91d1153c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80);")
                    .content 
                       h4.title Paris
                        .tag 
                            h5.tag-title Top reasons to visit:
                                .tag-list 
                                    a.tag-item(href="") museums
                                    a.tag-item(href="") sightseeing
                                    a.tag-item(href="") culture 
                .extra extra
            .Highlights-slider-item 
                .show(style="background-image:url(https://images.unsplash.com/photo-1568084680786-a84f91d1153c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80);")
                    .content 
                       h4.title Paris
                        .tag 
                            h5.tag-title Top reasons to visit:
                                .tag-list 
                                    a.tag-item(href="") museums
                                    a.tag-item(href="") sightseeing
                                    a.tag-item(href="") culture 
                .extra extra

            .Highlights-slider-item 
                .show(style="background-image:url(https://images.unsplash.com/photo-1568084680786-a84f91d1153c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80);")
                    .content 
                       h4.title Paris
                        .tag 
                            h5.tag-title Top reasons to visit:
                                .tag-list 
                                    a.tag-item(href="") museums
                                    a.tag-item(href="") sightseeing
                                    a.tag-item(href="") culture 
                .extra extra
            .Highlights-slider-item 
                .show(style="background-image:url(https://images.unsplash.com/photo-1568084680786-a84f91d1153c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80);")
                    .content 
                       h4.title Paris
                        .tag 
                            h5.tag-title Top reasons to visit:
                                .tag-list 
                                    a.tag-item(href="") museums
                                    a.tag-item(href="") sightseeing
                                    a.tag-item(href="") culture 
                .extra extra