section.Recommended 
    .container 
        .Recommended-title Destinations we love
        .Recommended-content
            .Recommended-content-buttons
                .Recommended-content-button 
                    button.button.button-navy Regions
                .Recommended-content-button 
                    button.button.white Cities
                .Recommended-content-button 
                    button.button.white Plaves of interest
        .Recommended-reviews 
            .Recommended-review
                .Recommended-review-title Edinburgh
                .Recommended-review-count 283,435 hotel reviews
            .Recommended-review
                .Recommended-review-title Barcelona
                .Recommended-review-count 283,435 hotel reviews
            .Recommended-review
                .Recommended-review-title Sdyney
                .Recommended-review-count 283,435 hotel reviews
            .Recommended-review
                .Recommended-review-title Bristol
                .Recommended-review-count 283,435 hotel reviews
            .Recommended-review
                .Recommended-review-title Edinburgh
                .Recommended-review-count 283,435 hotel reviews
            .Recommended-review
                .Recommended-review-title Edinburgh
                .Recommended-review-count 283,435 hotel reviews
            .Recommended-review
                .Recommended-review-title Edinburgh
                .Recommended-review-count 283,435 hotel reviews
            .Recommended-review
                .Recommended-review-title Manchester
                .Recommended-review-count 283,435 hotel reviews
            .Recommended-review
                .Recommended-review-title Manchester
                .Recommended-review-count 283,435 hotel reviews
            .Recommended-review
                .Recommended-review-title Manchester
                .Recommended-review-count 283,435 hotel reviews
               
            