section.Review 
    .container 
        .Review-title Still deciding where to stay?
        .Review-content
            .Review-content-info We Want to make your decision easier!. With over 131,150,000 verified guest review, we can help you find the perfect plate to stay.
            .Review-content-buttons
                .Review-content-button 
                    button.button.button-navy Hotel reviews
                .Review-content-button 
                    button.button.white B&B & inn reviews
                .Review-content-button 
                    button.button.white Holiday rental reviews
        .Review-reviews 
            .Review-review
                .Review-review-title Edinburgh
                .Review-review-count 283,435 hotel reviews
            .Review-review
                .Review-review-title Barcelona
                .Review-review-count 283,435 hotel reviews
            .Review-review
                .Review-review-title Sdyney
                .Review-review-count 283,435 hotel reviews
            .Review-review
                .Review-review-title Bristol
                .Review-review-count 283,435 hotel reviews
            .Review-review
                .Review-review-title Edinburgh
                .Review-review-count 283,435 hotel reviews
            .Review-review
                .Review-review-title Edinburgh
                .Review-review-count 283,435 hotel reviews
            .Review-review
                .Review-review-title Edinburgh
                .Review-review-count 283,435 hotel reviews
            .Review-review
                .Review-review-title Manchester
                .Review-review-count 283,435 hotel reviews
            .Review-review
                .Review-review-title Manchester
                .Review-review-count 283,435 hotel reviews
            .Review-review
                .Review-review-title Manchester
                .Review-review-count 283,435 hotel reviews
               
            