section.Services 
   .container 
        .Services-review 
            .Services-review-icon 
                i.fas.fa-heartbeat
            .Services-review-content 
                .Services-review-content-title
                    label 131,130,000
                    br 
                    |reviews
                .Services-review-content-info   Real guests.Real stays. Real opinions to help you make the right choice.
        .Services-review 
            .Services-review-icon 
                i.far.fa-question-circle
            .Services-review-content 
                .Services-review-content-title  We're here to help         
                    br 
                    label 24/7
                .Services-review-content-info   Find answers, manage your booking and more in our
                    label Help Centre.