extends ./global/master.pug

block content
   include components/showcase.pug
   include components/highlights.pug
   include components/features.pug
   include components/destination.pug
   include components/services.pug
   include components/discover.pug
   include components/aparthotels.pug
   include components/review.pug
   include components/recommended.pug
