.Header {
  .container {
    display: flex;
    align-items: center;
    height: 64px;
    position: relative;
  }
  &-switch {
    position: relative;
    margin-left: auto;
    @include mq {
      display: none;
    }
  }
  &-menu {
    // display: none;
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    position: absolute;
    transition: 0.2s;
    left: 0;
    right: 0;
    top: 100%;
    display: flex;
    padding-left: $gutter;
    padding-right: $gutter;
    padding-bottom: 20px;
    flex-direction: column;
    background-color: white;
    .Header.menu-show & {
      pointer-events: auto;
      opacity: 1;
      transform: translateY(0);
    }
    box-shadow: 0 10px 30px rgba($color: black, $alpha: 0.2);
    @include mq("tablet") {
      opacity: 1;
      transform: translateX(0);
      transition: 0s;
      display: flex;
      margin-left: auto;
      flex-direction: row;
      position: static;
      box-shadow: none;
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      pointer-events: auto;
    }

    &-user {
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include mq("tablet"){
        flex-direction: row;
      }
      a {
        width: 100%;
        display: inline-flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        height: $finger-size;
        justify-content: center;
        &:hover {
          background-color: #eee;
        }
      }
    }
    &-property {
      margin-top: 20px;
      justify-content: center;
      @include mq("tablet"){
        margin-top: 0;
      }
    }
    &-helper {
      display: flex;
      margin-top: 20px;
      @include mq {
        margin-left: 20px;
        margin-top: 0;
      }
      justify-content: center;
      select {
        appearance: none;
        background-color: transparent;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0;
        border: 1px solid #e0e6f1;
        color: $color-navy;

        &:nth-child(1) {
          border-bottom-left-radius: $border-radius;
          border-top-left-radius: $border-radius;
        }
        &:nth-child(2) {
          border-left-width: 0;
          border-bottom-right-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }
      }
    }
  }
  .Header-logo img {
    width: 144px;
  }
}
